/* 全局樣式設置 */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* 列表容器樣式 */
  .listContainer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  
  .listContainer h2 {
    margin: 0 0 20px;
    font-size: 1.5em;
    color: #666;
  }
  
  .listContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listContainer li {
    margin-bottom: 15px;
  }
  
  .listContainer a {
    text-decoration: none;
    color: #ff4500;
    font-size: 1.2em;
  }
  
  .listContainer a:hover {
    text-decoration: underline;
  }
.listContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listContainer li {
  margin-bottom: 15px;
}

.listContainer a {
  text-decoration: none;
  color: #ff4500;
  font-size: 1.2em;
}

.listContainer a:hover {
  text-decoration: underline;
}